# Gemfile for your RubyNEAT <%= name.camel_case %> project.
source 'https://rubygems.org'

ruby '<%= ruby.version %>'

# For demo purposes, we include the gosu library, but if you don't
# need this, then comment it out  or remove it.
gem 'gosu', require: false

# So you can create pretty charts and graphs of
# your RubyNEAT progress, etc. Feel free to remove
# this if you don't need it.
gem 'rubyvis', require: false

group :development do
  gem 'debugger'
end
